<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interiores Belo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo-removebg-preview.png" alt="">
        </div>
        <div class="buscador">
            <form>
                <input class="buscar" type="text" placeholder="¿Qué buscas?" >
               <button><i class="fas fa-search"></i></button> 
            </form>
        </div>
        <div class="user">
           <a href="/register.html"><i class="far fa-user"></i></a> 
           <a href="/productDetail.html"> <i class="fas fa-shopping-cart"></i></a>
        </div>
    </header>
    
    <main>   
        <section class="carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/carousel_1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/carousel_2.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
        <section class="bloqueDeContenido">
            <div class="interiores">
                <h1><a href="/productDetail.html">Interiores</a></h1>
                <a href="/productDetail.html"><img src="/images/nathan-interior-oakley-OJ031izrcu8-unsplash 2.png" alt=""></a>
            </div>
            <div class="habitacion">
                <h1><a href="/productDetail.html">Habitación</a></h1>
                <a href="/productDetail.html"><img src="/images/avery-klein-habitacion-JaXs8Tk5Iww-unsplash 2.png" alt=""></a>
                
            </div>
            <div class="productos">
                <h1><a href="/productDetail.html">Productos</a></h1>
                <a href="/productDetail.html"><img src="/images/kevser-productosxa3zvVw10z8-unsplash 1.png" alt=""></a>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo">
            <a href="/home"><img src="/images/logo-removebg-preview.png" alt=""></a>
        </div>
        <div class="detalles">
            <div class="contactos">
            <h3>contactos</h3>
            <div class="iconos">
                <a href="https://mail.google.com/mail/u/0/#inbox" target="_blanck"><i class="far fa-envelope"></i></a> 
                <a href="https://goo.gl/maps/4WUeS9EQxytH9qqL7" target="_blanck"><i class="fas fa-map-marker-alt"></i></a>
                <a href="" target="_blanck"><i class="fas fa-phone-alt"></i></a>
            </div>
            </div>
            <div class="redes">
                <h3>seguinos</h3>
                <div class="iconos">
                    <a href="https://m.facebook.com/" target="_blanck"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="info">
                 <h3>Informacion util</h3>
                 <div>
                      <a href="">Sobre Nosotros</a>
                      <a href="/productDetail.html">Productos</a>
                      <a href=""> Terminos y Condiciones</a>
                </div>
            </div>
        </div>   
    </footer>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>