<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterioresBelo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sanchez&display=swap" rel="stylesheet">

</head>

<body class="Detalle-Producto">
    <header>

    </header>
    <main>
        <div class="general">
            <div class="Constantine">
                <h1> Silla Constantine</h1>
                <p>$7022</p>
                <p>hasta 18 cuotas</p>
                <img src="/imagenes/silla.png" alt="">
            </div>
            <div>
                <button class="btn-Detalle">Detalle</button>

            </div>
            <div class="Detalle">
                <p> Cuerpo:1</p>
                <p> Ancho total: 81 cm</p>
                <p>Ancho asiento: 43 cm </p>
                <p> Profundidad total de asiento: 74 cm</p>
                <p> Profundidad de asiento: 57 cm</p>
                <p> Altura:77 cm </p>
                <p> Altura del asinto:42 cm </p>
                <p> Color: Blanco , Negro, Gris</p>

            </div>
            <div class="Visa">
                <i class="fab fa-cc-visa"></i>
            </div>
            <div class="Mastercard">
                <i class="fab fa-cc-mastercard"></i>

            </div>
            <div>
                <button class="btn-Carrito">Agregar al carrito</button>
            </div>
            <div class="pagos">
        <a href=""><i class="fas fa-credit-card"></i>ver medios de pago</a>
            </div>

        
        <h1>productos Relacionados</h1>
        <div class="productosRelacionados">
            <div class="SillaEsmeralda">
                <h1>Silla Esmeralda</h1>
                <img src="/imagenes/silla1111.jpg" alt="">
            </div>
            <div class="SofaMonaco">
                <h1>Sofa Monaco</h1>
                <img src="/imagenes/silla3-removebg-preview.png" alt="">
            </div>
            <div class="SillaBaltic">
                <h1>Silla Baltic</h1>
                <img src="/imagenes/silla4-removebg-preview.png " alt="">
            </div>
            <div class="SillaRoma">
                <h1>Silla Roma</h1>
                <img src="/imagenes/silla5-removebg-preview.png" alt="">
            </div>
        </div>
        </div>
        

            
    </main>
    <footer>

    </footer>
</body>

</html>