footer{
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #A4C7CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer  .logo{
    width: 170px;
    height: 100px;
    margin-top: 8px;
}

footer .logo img{
    width: 100%;
    background-position: center;
}


footer div h3{
    text-transform:uppercase;
    font-size: 18px;
    text-align: center;
}



footer .contactos {
    padding:  7px;
}
footer .fb-ig {
    padding:  7px;
} 

footer .iconos{
    margin: 5px 20px;
    padding: 7px;
  display: flex;
    justify-content: space-around;
}

footer .iconos a{
    color: black;
    font-size: 18px;
}

footer .info {
    padding:  7px;
}

footer .info div a{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: #000;
   text-decoration: none;
   padding: 4px;
   text-align: center;
}

@media (min-width: 768px) {
    footer{
        flex-direction: row;
        position: relative;
        padding: 0px;
    }
    footer .logo {
        width: 180px;
        position: absolute;
        left: 0px;
        bottom: 15px;
      }

    footer .detalles{
        width: 530px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 160px;
    }

    footer .info div a{
        padding: 0px;
    }

    footer .iconos{
        margin: 9px -6px 3px;
        padding: 0px;
    }
    footer .iconos a{
      font-size: 20px;
    }

    footer .contactos {
        margin-top: 16px;
    }

    footer .info{
        margin-top: 16px;
    }

    footer .fb-ig{
        margin-top: 16px;
    }
}

/* Pc */
@media (min-width: 1024px) {
    footer{
        flex-direction: row;
        position: relative;
        padding: 0px;
    }
    footer .logo {
        width: 240px;
        position: absolute;
        left: 8px;
        bottom: 30px;
      }

    footer .detalles{
        width: 700px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 218px;
    }

    footer div h3{
        font-size: 22px
    }

    footer .info div a{
        padding: 0px;
    }

    footer .iconos{
        margin: 9px -4px 3px;
        padding: 0px;
    }
    footer .iconos a{
      font-size: 25px;
    }

    footer .contactos {
        margin-top: 13px;
    }

    footer .info{
        margin-top: 13px;
    }

    footer .info div a{
        font-size: 18px;
    }

    footer .fb-ig{
        margin-top: 13px;
    }
}