@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

body{
    background-color: #E5F1F0;
}


.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.container > h1{
    padding: 20px 0;
}

.cart{
    display: flex;
}

.product-name{
    display: flex;
    /* justify-content: flex-end;
    padding: 20px 330px 0px 0px; */
    font-size: 18px
}
.product-name2{
    display: flex;
    /* text-align: left;
    padding: 20px 360px 0px 10px; */
    font-size: 18px;
}

.products{
    width: 700px;
    margin-left: 0px;
}

.product{
    display:flex;
    background-color: white;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    border: 1px solid rgb(184, 184, 184);
}


.product2{
    display:flex;
    background-color: white;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    border: 1px solid rgb(184, 184, 184);
}

.pr-quantity{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    margin-right: 20px;
}

.pr-quantity input{
    width: 40px;
    height: 20px;
    border: 1px solid black;
    
}

h4.product-price{
    display:flex;
    padding-right: 30px;
}

.pr-quantity2{
    display: flex;
    padding: 30px 0px;
    margin-right: 20px;
}
.pr-quantity2 input{
    width: 40px;
    height: 20px;
    border: 1px solid black;
}
h4.product-price2{
    display: flex;
    padding-right: 30px;
}

.products .subtitulos{
    display: flex;
    border: 1px solid rgb(184, 184, 184);
    height: 16%;
}

.subtitulo{
    background-color: white;
    width: 90%;
    display: flex; 
    align-items: center;
}

.subtitulo2{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 30%;
    padding-top: 10px;
}

.product .silla{
    width: 50px;
    padding: 15px 0px;
}

.product .silla img{
    width: 100%;
    
}

.product2 .sillon{
    width: 60px;
    padding: 20px 0px;
}
.product2 .sillon img{
    width: 100%;
}



.agregar{
    display: flex;
    background-color: white;
    width: 200%;
    height: 80px;
    padding: 5px 0;
    padding-left: 260px;
    overflow: hidden;
    border: 1px solid rgb(184, 184, 184);
    
}



.separador hr{
    display: flex;
    height: 1px;
    margin-left: 100px;
    width: 90%;
    margin-bottom: 30px;
}

.cart-total{
    flex: 0.25;
    background-color: white;
    padding-top: 500px;
    margin-left: 90px;
    padding: 20px;
    height: 290px;
    border: 1px solid rgb(184, 184, 184);
}


.cart-total hr{
    display: flex;
    width: 200px;
    height: 3px;
    background-color: black;
}

.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart-total a{
    display: block;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 95px;
    background-color: #9DB2B1;
    border: 1px solid #5A7C7A;
}

.boton-agrega{
    display:flex;
    width: 100%;
    justify-content: center;
}

.agregar a{
    display: block;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    background-color: #9DB2B1;
    border: 1px solid #5A7C7A;
}






/*tablets*/
@media (max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 300px;
        padding: 0px;
        
    }

    .cart{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
} 

    
    .container h1{
        display:flex;
        font-size: 20px;
    }
    .products{
        width: 700px;
        margin-left: 0px;
    }

    .cart-total{
        flex: 0.25;
        background-color: white;
        width: 700px;
        padding: 20px;
        margin-top: 10px;
        margin-left: 0px;
        height: 30px;
        border: 1px solid rgb(184, 184, 184);
    }

    .cart-total a{
        width:150px;
        margin: 0 auto;
    }
}

/*celular*/

@media (max-width: 320px){
    .container{
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 300px;
        padding: 0px;
        
    }

    .cart{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
} 

    .subtitulos{
        width:290px;
    }
    .subtitulo h4{
        font-size:13px;
        
    }
    .subtitulo2 h4{
        font-size: 13px;
        padding-right: 30%;
        
    }
    .subtitulo2{
        padding: 0px 20px 10px 0px;
       
        height: 25px;
        
    }

     .product-name{
        display: flex;
        padding:20px 0px;
        
        font-size: 13px
    }

    .product-name2{
        display:flex;
        padding:20px 0px;
        font-size: 13px;
    }

    .product-price{
        font-size: 13px;
        padding-left: 40px;
    }
    
   .product-price2{
       font-size:13px;
       padding-left: 0px;
   }

    
    .product .silla img{
        width: 40px;
        height:40px;
        
        
    } 


    .products{
        width: 290px;
        margin-left: 0px;
    }

    .agregar a{
        display: flex;
        color: white;
        text-align: center;
        height: 40px;
        line-height: 40px;
        margin-top: 10px;
        margin-right: 800px;
        background-color: #9DB2B1;
        border: 1px solid #5A7C7A;
    }

    .agregar{
        display: flex;
        background-color: white;
        width: 200%;
        height: 80px;
        padding: 5px 50px 0px 100px;
        overflow: hidden;
        border: 1px solid rgb(184, 184, 184);
        
    }

    .cart-total{
        flex: 0.25;
        background-color: white;
        width: 80%;
        padding: 20px;
        margin-top: 10px;
        margin-left: 0px;
        height: 30px;
        border: 1px solid rgb(184, 184, 184);
    }

    .separador hr{
        display: none;
    }

    .cart-total a{
     display: block;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    background-color: #9DB2B1;
    border: 1px solid #5A7C7A;
}
}