



.btn-crear{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
    background-color: #0E2D43;
    color: white;
    transition: all .5s;
    display: flex;
    justify-content: center;
    font-size: 17px;
    text-align: center;

}