.admin .row .card-body .admin-img{
    display: none;
}

.admin .row .card-body .admin-promo{
    display: none;
}

.admin .row .card-body .admin-{
    display: none;
} 



.admin ul li a{
    text-decoration: none;
    color: black;
}




@media (min-width: 768px) {
    .admin .row .card-body .admin-img{
        display: table-cell;
    }
    
    .admin .row .card-body .admin-promo{
        display: table-cell;
    }

    .admin .row .card-body .admin-{
        display: table-cell;
    } 
    
}