header{
    background-color: #A4C7CF;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
 /* Logo */
header .logo{
    width: 170px;
    height: 100px;
    margin-top: 8px;
}

header .logo a img{
    width: 100%;
    background-position: center;
}

/* Barra de busqueda */
header .buscador {
    width: 45%;
    text-align: center;
    border-radius: 7px;
}

header .buscador form{
    display: flex;
    height: 24px;
    
}
/* AGREGA HEIGHT 100% MARCOS*/
header .buscador form input{
    width: 110px;
    margin-left: 2px;
    text-align: center;
    border: 0px;
    padding: 2px;
    font-size: 14px;
    font-weight: bolder; 
    opacity: 0.85;
    border-radius: 12px 0 0 12px;
    height: 100%;
 }
/* AGREGA HEIGHT 100% MARCOS*/
header .buscador form button{
    width: 30px;
    border: 0px;
    padding: 2px;
    background-color: white;
    opacity: 0.85;
    border-radius: 0 12px 12px 0;
    color: gray;
    height: 100%;
}

header .buscador form button i{
 margin-right: 2px;
 text-align: center;
 margin-bottom: 2px;

}

header .user a{
    display: none;
    
    text-decoration: none;
    color: black;
}

header nav{
    text-align: center;
    
    display: none;
    position: absolute;
    bottom: -15px;
    left: 236px;
   
}

header nav ul{
    display: flex;
    flex-direction: row;
    background-color: #A4C7CF;

}

header nav ul li a{
    color: black;
    text-decoration: none;
}

header nav ul li{
    padding: 0px 5px;
}

/* Tablet */
@media (min-width: 768px) {
    header{
        height: 110px;
        align-items: center;
    }

    header .logo {
        width: 170px;
    }
    
    header .buscador {
        width: 200px;
        text-align: center;   
        height: 38px;
        
    }
    
    header .buscador form{
        align-items: flex-end;
    }
    header .buscador form input{
        width: 80%;
        height: 100%;
        padding: 2px;
        font-size: 16px;
        padding-left: 20px;
        border-radius: 33px 0 0 33px;
     }
    
    /* AGREGA HEIGHT MARCOS100% */
    header .buscador form button{
        width: 20%;
        border-radius: 0 33px 33px 0;
        height: 100%;
    }
    
    /* AGREGA MARGIN TOP MARCOS*/
    header .buscador form button i{
     margin-right: 2px;
     height: 100%;
     font-size: 15px;
     margin-top: 3px;
     
    }

    header .user{
        width: 80px;
        height: 37px;
        display: flex;
        justify-content: space-around;
        margin-right: 50px;
    }

    header .user a{
        display: block;
        width: 20px;
    }

    header .user a i{
        font-size: 24px;
        color: black;
    }

    header nav {
        display: block;
    }
}

/* Pc */
@media (min-width: 1024px) {
    header{
        height: 110px;
    }
    header .logo {
      width: 200px;
    }
    header .buscador {
        width: 300px;
        height: 44px;
    }

    header .buscador form{
        align-items: flex-start;
    }
    header .buscador form input{
        width: 80%;
        height: 40px;
        font-size: 24px;
        text-align: center;
        padding-left: 20px;
        border-radius: 23px 0 0 23px;
    }
    header .buscador form button{
        width: 20%;
        height: 40px;
        border-radius: 0 23px 23px 0;
    }

    header .buscador form button i{
        font-size: 22px;
        height: 10px;
    }

    header .user{
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 50px;
    }

    header .user a{
        display: block;
        width: 20px;
    }

    header .user a i{
        font-size: 30px;
        color: black;
    }

    header nav{
        left: 360px;
       
    }
}