main{
    margin-bottom: 20px;
    margin-top: 0px;
}


/*navegacion*/

.home main ul li a{
    text-decoration: none;
    color: black;
    transition: all ease-in-out .3s;
}
.home main ul li a:hover{
    color: rgb(54, 54, 54);
    font-size: 16.5px;
}
/* Interiores, Habitacion y Productos */

main .bloqueDeContenido{
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .bloqueDeContenido div{
    position: relative;
    margin: 20px auto;
}

main .bloqueDeContenido div h1{
    position: absolute;
    font-size: 35px;
}

main .bloqueDeContenido .interiores h1{
    top: 25px;
    left: 14px;
}

main .bloqueDeContenido .habitacion h1{
    top: 25px;
    left: 10px;
}

main .bloqueDeContenido .productos h1{
    top: 25px;
    left: 12px;
}

main .bloqueDeContenido div h1 a{
    color: white;
    text-align: center;
    text-transform:uppercase;
    text-decoration: none;

}

main .bloqueDeContenido div a img{
    width: 245px;
    height: 340px;
}




/* Tarjeta de productos */

.home .tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.home .tarjetas .box{
    width: 150px;
    height: 150px;
    background: var(--color-celeste);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.090);
    display: flex;
    justify-content: center;
    position: relative;
    transition: all .4s;
    cursor: pointer;
}

.home .tarjetas .box .image-product{
    width: 225px;
    height: 225px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;

}

.home .tarjetas .box:nth-child(1),
.box:nth-child(3){
    transform: scale(.9);
}

.home .tarjetas .box:hover{
    height: 200px;
}

.home .tarjetas .box .detalle{
    position: absolute;
    bottom: 5px;
    display: flex;
    opacity: 0;
    color: rgb(54, 54, 54);
    font-size: 10px;
    z-index: 1;
    transition: all .0s;

}

.home .tarjetas .box:hover .detalle{
    opacity: 1;
    transition: all .4s;
}

.home .tarjetas .box .detalle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right,var(--color-azul),#e7fafd);
    bottom: 0;
    z-index: -1;
    opacity: .8;
    transform: scaleX(0);
    transition: all .4s;
    transition-delay: .3s;
    border-radius: 10px;
    transform-origin: left;
}


.home .tarjetas .box:hover .detalle::before{
    transform: scaleX(1);
}


.home .subtitulo-destacado{
    background: linear-gradient(to right,var(--color-celesteOscuro),#e7fafd);
    width: 100%;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.090);
}

.home .subtitulo-destacado h3{
    
    text-align: center;
    color: rgb(54, 54, 54);
    
    
}





/* Tablet */
@media (min-width: 768px) {
    main{
        margin-bottom: 3px;
    }

    /* Interiores, Habitacion y Productos */
    main .bloqueDeContenido{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 7px;
    }

    main .bloqueDeContenido div{
        margin: 28px 0px;
    }

    main .bloqueDeContenido div a img {
        width: 205px;
        height: 330px;
    }

    main .bloqueDeContenido div h1{
        font-size: 30px;
    }

    main .bloqueDeContenido .interiores h1{
        top: 25px;
        left: 8px;
    }
    
    main .bloqueDeContenido .habitacion h1{
        top: 25px;
        left: 6px;
    }
    
    main .bloqueDeContenido .productos h1{
        top: 25px;
        left: 8px;
    }

    .home .tarjetas .box img{
        width: 250px;
        height: 250px;
        padding: ;
    
    }

    .home .tarjetas .box{
        width: 350px;
        height: 350px;
        background: var(--color-celeste);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.090);
        display: flex;
        justify-content: center;
        position: relative;
        transition: all .4s;
        cursor: pointer;
    }

    .home .tarjetas .box:hover{
        height: 300px;
    }

    .home .tarjetas .box .detalle{
        position: absolute;
        bottom: 30px;
        left: 25px;
        display: flex;
        opacity: 0;
        color: rgb(54, 54, 54);
        font-size: 1.2rem;
        z-index: 1;
        transition: all .0s;
    
    }
}

/* Pc */
@media (min-width: 1024px) {
    
    main{
        margin-bottom: 5px;
    }
    
    /* Interiores, Habitacion y Productos */

    main .bloqueDeContenido{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    main .bloqueDeContenido div{
        margin: 28px 0px;
    }

    main .bloqueDeContenido div h1{
        font-size: 35px;
    }

    main .bloqueDeContenido div a img {
        width: 245px;
        height: 355px;
    }
    
    main .bloqueDeContenido .interiores h1{
        top: 33px;
        left: 13px;
    }
    
    main .bloqueDeContenido .habitacion h1{
        top: 33px;
        left: 9px;
    }
    
    main .bloqueDeContenido .productos h1{
        top: 33px;
        left: 13px;
    }
    .home .tarjetas .box img{
        width: 300px;
        height: 300px;
        margin-top: 25px;
    
    }
    .home .tarjetas .box{
        width: 350px;
        height: 350px;
        background: var(--color-celeste);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.090);
        display: flex;
        justify-content: center;
        position: relative;
        transition: all .4s;
        cursor: pointer;
    }

    .home .tarjetas .box:hover{
        height: 400px;
    }

    .home .tarjetas .box .detalle{
        position: absolute;
        bottom: 30px;
        left: 25px;
        display: flex;
        opacity: 0;
        color: rgb(54, 54, 54);
        font-size: 1.2rem;
        z-index: 1;
        transition: all .0s;
    
    }

}



