main{
    margin-bottom: 20px;
    margin-top: 0px;
}


/*navegacion*/

.home main ul li a{
    text-decoration: none;
    color: black;
    transition: all ease-in-out .3s;
}
.home main ul li a:hover{
    color: rgb(54, 54, 54);
    font-size: 16.5px;
}
/* Interiores, Habitacion y Productos */

main .bloqueDeContenido{
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .bloqueDeContenido div{
    position: relative;
    margin: 20px auto;
}

main .bloqueDeContenido div h1{
    position: absolute;
    font-size: 35px;
}

main .bloqueDeContenido .interiores h1{
    top: 25px;
    left: 14px;
}

main .bloqueDeContenido .habitacion h1{
    top: 25px;
    left: 10px;
}

main .bloqueDeContenido .productos h1{
    top: 25px;
    left: 12px;
}

main .bloqueDeContenido div h1 a{
    color: white;
    text-align: center;
    text-transform:uppercase;
    text-decoration: none;

}

main .bloqueDeContenido div a img{
    width: 245px;
    height: 340px;
}

/* Tablet */
@media (min-width: 768px) {
    main{
        margin-bottom: 3px;
    }

    /* Interiores, Habitacion y Productos */
    main .bloqueDeContenido{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 7px;
    }

    main .bloqueDeContenido div{
        margin: 28px 0px;
    }

    main .bloqueDeContenido div a img {
        width: 205px;
        height: 330px;
    }

    main .bloqueDeContenido div h1{
        font-size: 30px;
    }

    main .bloqueDeContenido .interiores h1{
        top: 25px;
        left: 8px;
    }
    
    main .bloqueDeContenido .habitacion h1{
        top: 25px;
        left: 6px;
    }
    
    main .bloqueDeContenido .productos h1{
        top: 25px;
        left: 8px;
    }
}

/* Pc */
@media (min-width: 1024px) {
    
    main{
        margin-bottom: 5px;
    }
    
    /* Interiores, Habitacion y Productos */

    main .bloqueDeContenido{
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5px;
    }

    main .bloqueDeContenido div{
        margin: 28px 0px;
    }

    main .bloqueDeContenido div h1{
        font-size: 35px;
    }

    main .bloqueDeContenido div a img {
        width: 245px;
        height: 355px;
    }
    
    main .bloqueDeContenido .interiores h1{
        top: 33px;
        left: 13px;
    }
    
    main .bloqueDeContenido .habitacion h1{
        top: 33px;
        left: 9px;
    }
    
    main .bloqueDeContenido .productos h1{
        top: 33px;
        left: 13px;
    }

}



