@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

h1{
    font-size: 20px;
    padding-top: 30px;
}

.cart{
    display: flex;
    background-color: white;
    width:300px;
    height: 250px;
    margin: 10px;
    border: 1px solid rgb(184, 184, 184);
}

.subtitulo h4{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 10px;
}

.subtitulo2 h4{
    font-size: 14px;
    padding-top: 10px;
    padding-right: 25px;
    

}

.product-name{
    display: flex;

    font-size: 18px
}
.product-name2{
    display: flex;
 /* text-align: left; */
    font-size: 18px;
}

.products{
    width: 290px;
    margin-left: 0px;
}

.products .subtitulos{
    display: flex;
    justify-content: space-between;
}
.products .subtitulos .subtitulo2{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.separador-hr{
    height: 2px;
    width: 288px;
    margin: 10px;
    background-color: black;
    
}

.product{
    display: flex;
    height: 60px;
}



.product .silla{
    width: 50px;
    padding: 5px 0px;
    
}

.product .silla img{
    width: 30px;
    margin-left: 10px;
}

h3.product-name{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: 23px;
}

.separador1{
    width:103%;
}

h3.product-name2{
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-left: 33px;
    margin-top: 10px;
}
.product2 .sillon{
    width: 50px;
    padding: 15px 0px;
}


.product2 .sillon img{
    width: 45px;
    margin-left: 5px;
}



.product2{
    display:flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.pr-quantity{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    margin-left: 30px;
    
}

.pr-quantity .product-price {
    font-size: 14px;
    margin-right: 25px;
    
}

.pr-quantity input{
    width: 40px;
    height: 20px;
    border: 1px solid black;
    
}

.pr-quantity2{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-left: 30px;
    
}

.pr-quantity2 .product-price2 {
    font-size: 14px;
    margin-right: 25px;
    
}

.pr-quantity2 input{
    width: 40px;
    height: 20px;
    border: 1px solid black;
    
}


.boton-agrega{
    display:flex;
    width: 100%;
    justify-content: center;
}

.agregar a{
    display: block;
    color: white;
    text-align: center;
    height: 40px;
    width: 170px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: #9DB2B1;
    border: 1px solid #5A7C7A;
}

.separador2{
    width: 103%;
}

.cart-total{
    background-color: white;
    padding: 10px;
    width: 300px;
    border: 1px solid rgb(184, 184, 184);
    margin-top: 70px;
}

.separador3{
    background-color: black;
    margin-top: 6px;
}

.cart-total a{
    display: block;
    color: white;
    text-align: center;
    height: 40px;
    width: 170px;
    margin-top: 15px;
    margin-left: 21%;
    line-height: 40px;
    background-color: #9DB2B1;
    border: 1px solid #5A7C7A;
}

.cart-total h4{
    padding-top: 10px;
}


footer{
    margin-top: 200px;
}


/* tablets */
@media (min-width: 768px){
    
    .cart{
        display: flex;
        background-color: white;
        width: 90%;
        height: 250px;
        margin: 10px;
        border: 1px solid rgb(184, 184, 184);
    }

    .products .subtitulos .subtitulo2 {
            display: flex;
            justify-content: space-around;
             width: 30%; 
            margin-left: 160%;
    }

    .subtitulo2 h4 {
        font-size: 18px;
    }

    .subtitulo h4 {
        font-size: 18px;
    }
  
    .separador-hr {
        width: 680px;
    }

    .h3{
        font-size: 30px;
    }

    .pr-quantity{
        margin-left: 285px;
    }
    .pr-quantity .product-price {
        font-size: 18px;
        margin-right: 40px;
    }
    h3.product-name{
        font-size: 18px;
        margin-left: 70px;
    }
    .product .silla img {
        width: 40px;
        margin-left: 10px;
    }
    .separador1 {
        width: 238%;
    }
    .product2 .sillon img {
        width: 55px;
    }
    h3.product-name2{
        font-size: 18px;
        margin-left: 96px;
    }
    .pr-quantity2{
        margin-left: 297px;
    }
    .pr-quantity2 .product-price2{
        font-size: 18px;
        margin-right: 40px;
    }
    .separador2{
        width: 238%;
    }

    .boton-agrega{
        width: 120%;
    }
    .agregar{
        margin-left: 100%;
    }

    .agregar a {
        width: 170px;
    }

    .cart-total {
        width: 238%;
    }
    .cart-total a{
        width: 170px;
        margin-left: 39%;
    }
}


/* PC */

@media (min-width:1024px) {
    
    .products .subtitulos .subtitulo2 {
    display: flex;
    justify-content: space-around;
    width: 30%; 
    margin-left: 232%;
    }

    .container h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    
    .cart{
        width: 90%;
        margin: 50px;
        height: 275px;
        margin-top: 50px;
    }

    .products .subtitulos .subtitulo2{
        margin-left: 700px;
    }
    .separador-hr {
        width: 902px;
    }

    .subtitulo2 h4{
        font-size: 20px;
    }
    .subtitulo h4{
        font-size: 20px;
    }

    .pr-quantity {
        margin-left: 526px;
    }
    
     .pr-quantity2 {
         margin-left: 537px;
      }
    
    .separador1 {
        width: 317%;
    }
    .separador2 {
        width: 317%;
    }
    .boton-agrega{
        width: 102%;
        margin-left: 160px;
    }
    .agregar a {
        margin-top: 25px;
    }

    .container-total .cart-total{
        width: 922px;
        margin-top: 100px;
        
    }

    .cart-total {
        width: 387px;
        height: 200px;
        
    }
    .cart-total a{
        margin-left: 41%;
    }

    .cart-total h4{
        font-size: 25px;
        padding-top: 25px;
    }


    footer {
        margin-top: 361px;
    } 
   
}