<footer>
    <div class="logo">
        <a href="/"><img src="/images/logo-removebg-preview.png" alt=""></a>
    </div>
    <div class="detalles">
        <div class="contactos">
        <h3>contactos</h3>
        <div class="iconos">
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blanck"><i class="far fa-envelope"></i></a> 
            <a href="https://goo.gl/maps/4WUeS9EQxytH9qqL7" target="_blanck"><i class="fas fa-map-marker-alt"></i></a>
            <a href="" target="_blanck"><i class="fas fa-phone-alt"></i></a>
        </div>
        </div>
        <div class="fb-ig">
            <h3>seguinos</h3>
            <div class="iconos">
                <a href="https://m.facebook.com/" target="_blanck"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/?hl=es" target="_blanck"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="info">
             <h3>Informacion util</h3>
             <div>
                  <a href="">Sobre Nosotros</a>
                  <a href="/productDetail">Productos</a>
                  <a href=""> Terminos y Condiciones</a>
            </div>
        </div>
    </div>   
</footer>
