<header>
    <div class="logo">
        <a href="/"><img  src="/images/logo-removebg-preview.png" alt=""></a>
    </div>
    <div class="buscador">
        <form action="/search" id="form-search" method="GET">
            <input class="buscar" id="input-search" type="text" name="keywords" placeholder="¿Qué buscas?" >
           <button><i class="fas fa-search"></i></button> 
        </form>
    </div>
    <div class="user">
        
        <% if (locals.userLogin) { %>
            <a href="/users/profile"><%= locals.userLogin.name %></a>
            
        <% }else{ %>
            <a href="/users/login"><i class="far fa-user"></i></a> 
            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
       <% } %>
       
    </div>
   
        
        
        
   
    

    
</header>
<script src="/javascripts/buscadorValidator.js"></script>