<header>
    <div class="logo">
        <a href="/"><img  src="/images/logo-removebg-preview.png" alt=""></a>
    </div>
    <div class="buscador">
        <form>
            <input class="buscar" type="text" placeholder="¿Qué buscas?" >
           <button><i class="fas fa-search"></i></button> 
        </form>
    </div>
    <div class="user">
        
        <% if (locals.userLogin) { %>
            <a href="/users/profile"><%= locals.userLogin.name %></a>
            <% if (locals.userLogin.rol === "admin") { %>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" href="/product/admin"> Administración</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/product/add"> Agregar Producto</a>
                    </li>
                  </ul>
            <% } %>
        <% }else{ %>
            <a href="/users/login"><i class="far fa-user"></i></a> 
            <a href="/products/productCart"> <i class="fas fa-shopping-cart"></i></a>
       <% } %>
       
    </div>
   
        
        
        
   
    
 
    
</header>