<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 


<body class="Detalle-Producto">
    <%- include('../partials/header') %> 


    <main>

        <div class="general">
            <section>

          
            <div class="Constantine">
                <h1> Silla Constantine</h1>
                <p>$7022</p>
                <p>hasta 18 cuotas</p>
                <img src="/images/silla.png" alt="">
            </div>
            <div class="descripcion">
                <div>
                    <button class="btn-Detalle">Detalle</button>

                </div>
                <div class="Detalle">
                    <p> Cuerpo: 1</p>
                    <p> Ancho total: 81 cm</p>
                    <p>Ancho asiento: 43 cm </p>
                    <p> Profundidad total de asiento: 74 cm</p>
                    <p> Profundidad de asiento: 57 cm</p>
                    <p> Altura: 77 cm </p>
                    <p> Altura del asinto: 42 cm </p>
                    <p> Color: Blanco , Negro, Gris</p>

                </div>
                <div class="Tarjetas">
                    <div class="Visa">
                        <i class="fab fa-cc-visa"></i>
                    </div>
                    <div class="Mastercard">
                        <i class="fab fa-cc-mastercard"></i>

                    </div>
                </div>
                <div>
                    <button class="btn-Carrito"><a href="/products/productCart">Agregar al carrito</a></button>
                </div>
                <div class="pagos">
                    <a href=""><i class="fas fa-credit-card"></i>ver medios de pago</a>
                </div>


            </div>
        </section>



            <h2>Productos relacionados</h2>
            <div class="productosRelacionados">
                <div class="SillaEsmeralda">
                    <h3>Silla Esmeralda</h3>
                    <img src="/images/silla1111.jpg" alt="">
                </div>
                <div class="SofaMonaco">
                    <h3>Sofa Monaco</h3>
                    <img src="/images/silla3-removebg-preview.png" alt="">
                </div>
                <div class="SillaBaltic">
                    <h3>Silla Baltic</h3>
                    <img src="/images/silla4-removebg-preview.png " alt="">
                </div>
                <div class="SillaRoma">
                    <h3>Silla Roma</h3>
                    <img src="/images/silla5-removebg-preview.png" alt="">
                </div>
            </div>
        </div>



    </main>
    <%- include('../partials/footer') %> 

</body>

</html>