<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body class="add">
    <%- include('../partials/header') %> 
    <main>
     <div class="row mx-auto">
          <div class="col-lg-8 mt-5 mb-5 mx-auto">
            <div class="card shadow mb-2">
                <div class="card-header">
                    <h4>Agregar producto</h4>
                </div>
                <div class="card-body">
                    <form class="row g-3" method="POST">
                        <div class="col-12">
                          <label for="name" class="form-label">Nombre de Producto</label>
                          <input type="text" name="name" placeholder = "Nombre del producto" class="form-control" id="name">
                        </div>
                        <div class="col-md-6">
                            <label for="price" class="form-label">Precio</label>
                            <input type="number" name="price" class="form-control" id="price" placeholder="$">
                          </div>
                          <div class="col-md-6">
                            <label for="promo" class="form-label">Cuotas</label>
                            <select id="promo" class="form-select" name="promo">
                                <option value="" hidden>Elegir cuotas</option>
                                <option value="Hasta 3 cuotas">Hasta 3 cuotas</option>
                                <option value="Hasta 6 cuotas">Hasta 6 cuotas</option>
                                <option value="Hasta 12 cuotas">Hasta 12 cuotas</option>
                                <option value="Hasta 18 cuotas">Hasta 18 cuotas</option>
                              </select>
                          </div>
                        <div class="col-12">
                          <label for="description" class="form-label">Descripcion</label>
                          <textarea style="resize: none; height: 100px;width: 100%;"
                          type="text" placeholder ="Descripcion" class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="SubirImagen">
                            <div class="btn-Subir">
                                <label for="image" class="btn btn-outline-secondary btn-#3b5998 w-100 mt-2">Subir imagen</label>
                                <input hidden class="form-control" type="file" id="image" name="image">
                              </div>
                           </div>

                        <div class="btn-Agregar">
                          <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                      </form>

                </div>
            </div>
         </div>

     </div>   
    </main>
    <%- include('../partials/footer') %> 

</body>
</html>