<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body class="login-register">
    <%- include('../partials/header') %> 

    <main>

        <div class="contenedor">
            
                <div class="Logo">
                    <img src="/images/logo2 4.png" alt="">
                </div>
            
            

        
            <div class="ingresar">
                <h3 class="bienvenido">Crea tu cuenta</h3>

                    <form action="" method="POST">

                        <div class="input-contenedor">
                            <label for="nombre">Nombre completo</label>
                            <input type="text" placeholder="Ingresa tu nombre completo" id="name" name="name">
                        </div>


                        <div class="input-contenedor">
                            <label for="email">Email</label>
                             <input type="email" placeholder="Ingresa tu email" id="email" name="email">
                        </div>

                        <div class="input-contenedor">
                            <label for="pass">Contraseña</label>
                            <input type="password" placeholder="Ingresa tu contraseña" id="pass" name="password" minlength="8">
                        </div>

                        <div class="input-contenedor">
                            <label for="pass">Confirma tu contraseña</label>
                            <input type="password" placeholder="Ingresa tu contraseña" id="pass" name="password2" minlength="8">
                        </div>

                       
                
               


                        <!-- iniciar-sesion -->
                        <div>
                            <button class="btn-crear" type="submit">Crear</button>
                        </div>

                        <div class="comentario">
                            <p>Crea tu cuenta con</p>
                        </div>

                        <!-- botones redes -->
                        <div class="redes">
                            <div>
                                <button class="btn-facebook"><i class="fab fa-facebook"></i>Facebook</button>
                            </div>
                            
                            <div>
                                <button class="btn-google"><i class="fab fa-google"></i>Google</button>
                            </div>

                        </div>
                        

                        <!-- crea tu cuenta -->

                        <div class="crea-cuenta">
                            <p>¿Ya tienes una cuenta?</p>
                            <a href="/login">inicia sesión</a>
                            
                        </div>
                        
                
                </div>
        


            </form>
        </div>
        
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>